/PruebaTecnica28082023.EntidadDeNegocio/build/
/PruebaTecnica28082023.AccesoADatoss/build/
/PruebaTecnica28082023.EntidadDeNegocio/dist/
/PruebaTecnica28082023.AccesoADatoss/dist/
/PruebaTecnica28082023/build/
/PruebaTecnica28082023/nbproject/private/
